<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.banksoal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BankSoal"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".TampilSoal2"
            android:exported="false" />
        <activity
            android:name=".tambahUpSoal"
            android:exported="false" />
        <activity
            android:name=".EditSoal"
            android:exported="false" />
        <activity
            android:name=".Artikel"
            android:exported="false" />
        <activity
            android:name=".HomeUploadSoal"
            android:exported="false" />
        <activity
            android:name=".TampilSoal"
            android:exported="false" />
        <activity
            android:name=".KategoriSoal"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".UploadSoal"
            android:exported="false" />
        <activity
            android:name=".LihatSoal"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>